<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'posts:list' %}"><i class="fab fa-instagram"></i> | <p class="d-inline" id="insta"> Instagram</p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:new' %}">NewPost</a>
      </li>
    </ul>
  </div>
      {% if user.is_authenticated %}
      <div class="d-flex justify-content-around">
        <ul class="navbar-nav mr-auto">
          <span class="navbar-text">
            {{ request.user }} 님 환영합니다 !
          </span>&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:profile' %}">나의 프로필</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:mypage' user.pk %}">마이페이지</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
          </li>
        </ul>
      </div>
      {% else %}
      <div class="d-flex justify-content-around">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:signup' %}">가입하기</a>
          </li>
        </ul>
      </div>
      {% endif %}
</nav>