{% extends 'base.html' %}
{% block body %}

<p> {{ post.pk }}</p>
<br>
<p> {{ post.content }}</p>
    <div id="carouselExampleControls" class="carousel slide" style="" data-ride="carousel">
          <div class="carousel-inner">
            {% for image in post.image_set.all %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
              <img src="{{ image.file.url }}" class="d-block" alt="{{ image.file }}" height="600px">
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
<hr>
{% if user in post.like_users.all %}
  <a href="{% url 'posts:like' post.pk %}?next={% url 'posts:list' %}"><i class="fas fa-heart fa-2x" style="color:red;"></i></a>
{% else %}  
  <a href="{% url 'posts:like' post.pk %}?next={% url 'posts:list' %}"><i class="far fa-heart fa-2x" style="color:red;"></i></a>
{% endif %}
<span>{{ post.like_count }} 명이 좋아요를 눌렀습니다 !</span>
<br>
<br>
{% if request.user.is_superuser %}
<a href="{% url 'posts:edit' post.pk %}"> Post 수정하기 </a>
<form action="{% url 'posts:delete' post.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Post 삭제">
</form>
{% elif request.user == post.user %}
<a href="{% url 'posts:edit' post.pk %}"> Post 수정하기 </a>
<form action="{% url 'posts:delete' post.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Post 삭제">
</form>
{% endif %}
<br>
<p>댓글들</p>
  {% for riple in post.comment_set.all %}
  <hr>
    <p>{{ riple.user }}님: {{ riple.comment }}</p>
    <form action="{% url 'posts:del_comment' post.pk comment_pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="댓글 삭제">
    </form>
  {% endfor %}
<br>
<br>

{% load crispy_forms_tags %}
<form action="{% url 'posts:new_comment' post.pk %}" method="POST">
  {% csrf_token %}
  {{ comment_form|crispy }}
    <!--<p>댓글 : <input type="text" name="comments"></p>-->
    <input type="submit" value="댓글 작성">
</form>

{% endblock %}