{% extends 'base.html' %}
{% block body %}
<br><br><br>
<h2 class="text-center"> 게시물 </h2>
<br>


<div class="row w-200">
    <!--<div class="card-deck">-->
    {% for post in posts %}
        <div class="col-xs-12 col-sm-6 col-md-4 my-2">
            
              <div class="card border-0" id="ca">
                    <p> <a href="{% url 'accounts:mypage' post.user.pk %}">{{ post.user }}</a>님이 작성한 글</p>
                    <a href="{% url 'posts:detail' post.pk %}" class="asize"><img src="{{ post.image_set.first.file.url }}" class="img"  alt="{{ post.image_set.first.file.url }}"></a>
              </div>
            
        </div>
    {% endfor %}
    <!--</div>-->
</div>

{% endblock %}